@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root{
  --primary: #d84e0f;
  --white: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url("sky.avif");
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  background: #fff;
  width: 900px;
  min-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;


}
#form{
  border: 3px solid rgb(219, 128, 128);
}
.form,
.image{
  width: 50%;
}

.image{
background-image: url('sky.avif');
background-size:cover;
background-position: center;
background-color: rgba(0, 0, 0, 0.4);
background-blend-mode: multiply;
color: white;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

.content h3{
  color:white;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 700;
  opacity: 0.6;
}
.content p{
  color:white;
  font-size: 13px;
  font-weight: bold;
   opacity: 0.6;
}


.form{
  padding: 60px 25px; 
  display: flex;
  flex-direction: column;
}
.form h3{
  font-size: 28px;
  font-weight: 500;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  color: #d84e0f;;
}
.fa{
  color: #d84e0f;
  position: absolute;
  top:10px;
  font-size: 18px;
}

.input-field{
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.input-field input{
  display: block; 
  width: 100%;
  padding: 10px 30px;
  outline: none;
  border:none;
  border-bottom: 2px solid #d84e0f;
  font-size: 15px;
}

.form>a{
  color:#d84e0f;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 35px
}

.button{
  height: 45px;
  background:#d84e0f;
  border:none;
  color:white;
  border-radius: 5px;
  font-size: 18px;
}

p{
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
}

p a{
  text-decoration: none;
  color:#d84e0f;
  font-weight: 500;
}

#placeholder {
  font-family: 'Poppins', sans-serif;
}
.hr
{
  border-bottom: 2px solid #d84e0f;
}